<div class="background rounded-pill"
    style="height:100vh; display: flex; flex-direction: column; padding: 10px; background-color:#ffe4b1">
    <div class="card container text-warning rounded-pill"
        style="max-height:15vh; max-width: 60vw; background-color: white; justify-content: center; align-items: center; padding: 10px; font-size:20px; font-weight: bold;box-sizing: border-box; box-shadow: 10px 15px 15px #ffa600;">
        Sign Up To Eat Everyday
    </div> <br>
    <div class="card container"
        style="max-width: 60vw; background-color: #ffe4b1; box-sizing: border-box; box-shadow: 10px 15px 15px #ffa600; border-radius: 25px 25px 25px 25px;">
        <div style="height: 70vh; background-color: #ffe4b1; border-radius: 25px 25px 25px 25px">
            <h2 class="text-warning" style="text-align: center;">SignUp or Register Here</h2>
            <div style="padding: 10px">
                <input type="text" class="form-control" placeholder="Enter First Name">
            </div>
            <div style="padding: 10px">
                <input type="text" class="form-control" placeholder="Enter Middle Name">
            </div>
            <div style="padding: 10px">
                <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
            <div style="padding: 10px">
                <input type="email" class="form-control" placeholder="Enter Email Address">
            </div>
            <div style="padding: 10px">
                <input type="number" class="form-control" placeholder="Enter Phone Number">
            </div>
            <div style="display: flex; flex-direction: row;">
                <div style="padding-left: 10px">
                    <p>Gender</p>
                </div>
                <div style="padding-left: 10px">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding-left: 10px;">
                <label for="exampleFormControlTextarea1">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
    </div>
</div>