<div class="background rounded-pill" style="height:100vh; display: flex; flex-direction: column; padding: 10px;">
    <div class="card container text-warning rounded-pill" style="max-height:15vh; max-width: 60vw; background-color: white; justify-content: center; align-items: center; padding: 10px; font-size:20px; font-weight: bold;box-sizing: border-box; box-shadow: 10px 15px 15px #ffa600;">
        Sign Up To Eat Everyday
    </div> <br>
<div class="card container" style="max-height:40vh; max-width: 60vw; background-color: white; box-sizing: border-box; box-shadow: 10px 15px 15px #ffa600; border-radius: 0 0 25px 25px;">
    <div class="row" style="height: 70vh">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
            <h2 class="text-warning" style="text-align: center;">Login Here</h2>
            <div class="form-control" style="padding: 10px;">

                <input type="text" class="form-control" placeholder="Enter Your Username">
                <br> <br>
                <input type="password" class="form-control" placeholder="Enter Your Password">
                <br>

                <div style="display: flex; justify-content: flex-start;">
                    <button class="btn btn-primary">Login</button> &nbsp;
                    <button class="btn btn-secondary">Cancel</button>
                </div>

            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="background-color: #ffe4b1; border-radius: 0 0 25px 0;">
        <div style="display: flex; justify-content: center; align-items: center; flex-direction:column; margin-top: 45px;" >
            <img src="../../../assets/images/running-icon.gif" width="80vw">
            <div class="card bg-warning" style="width: 14vw; padding: 10px; cursor: pointer;" [routerLink]="['/sign-up']">
            Or Signup By Clicking Here
            </div>
        </div>
        </div>
    </div>
</div>
</div>
