<!-- <div class="container">
    <div class="flex-container">
        <div class="logo"><span style="color: green">On</span><span style="color: greenyellow">My</span><span
                style="color: brown">Way</span></div>
        <div class="logo" style="margin-top: 10px; color: greenyellow">Sign In</div>
    </div>
    <img [src]="scooterunningUrl" class="scooter-running">
    <div class="background">

    </div>
</div> -->
<div style=" height: 100vh; background-color: #F5bD1F;">
  <div class="flex-container container">
    <div class="logo rounded-pill" style="padding: 15px;"><span style="color: green">On</span><span style="color: greenyellow">My</span><span
        style="color: brown">Way</span></div>
    <div class="logo rounded-pill" style="color: greenyellow ;padding: 15px;">Sign In</div>
  </div>
  <br />
  <div class="flex-container container" style="position: relative">
    <div class="background">
      <!-- <form>
                <input type="text" name="search" placeholder="Search.."><button><i class="fa fa-search"></i></button>
            </form> -->
      <div class="Card">
        <div class="CardInner">
          <label>Search for your favourite food or restauraunts</label>
          <div class="container">
            <div class="Icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-search">
                <circle cx="11" cy="11" r="8" />
                <line x1="21" y1="21" x2="16.65" y2="16.65" />
              </svg>
            </div>
            <div class="InputContainer">
              <input placeholder="It just can't be pizza..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="flex-bottom">
    <div>
      <div class="card bg-dark mb-3" style="max-width: 18rem;background-color: #481a2f !important;">
        <div class="card-header" style="color: green">On</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card bg-dark mb-3" style="max-width: 18rem; background-color: #481a2f !important;">
        <div class="card-header" style="color: greenyellow">My</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="card bg-dark mb-3" style="max-width: 18rem;background-color: #481a2f !important;">
        <div class="card-header" style="color: brown">Way</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>